<div class="app-body">
  
  <main class="homeContainer">

 
  <div class="container-fluid p-0">
    <div class="card">
      <div class="card-header">
        <div class="row">
          
        <div class="col-md-6 heading">Running Order</div>
        <div class="col-md-6">
          <!-- <div class="btnCon">
            <button class="btn btn-sm btn-primary btn-main" type="button" data-toggle="modal" data-target="#addmenu"  ><i class="fa fa-plus pr-1" title="Add menu"></i></button>
          <button class="btn btn-sm btn-primary btn-main" type="button" data-toggle="modal" data-target="#updatemenu">
            <i class="fa fa-pencil-square-o pr-2" aria-hidden="true"  title="Update menu">
          </i></button>
        </div> -->
      </div>
        </div>
      </div>

    

      <div class="col-lg-12  ">
       

          <div class="col-md-12 boxdiv">
            <div class="row">
         <div class="col-md-6 p-0 borderright">
              <div class="runningbox">
                <div class="ordernocrdbox">
                  <label class="">Take Away</label>
      </div>
      <div class="blbspace">
      <label class="">Order No.</label><label class="secondlblspace">65465</label>
    </div>
      
                  </div>

                  <div class="runningbox">
                    <div class="ordernocrdbox">
                      <label class="">T23</label>
          </div>
          <div class="blbspace">
          <label class="">Order No.</label><label class="secondlblspace">59465</label>
        </div>
          
                      </div>
           
       

        </div>


        <div class="col-md-6">
<div class="righttopbox">
    <div class="col-md-12 backcolor">

        <div class="row">
          
            <div class="col-md-6">
        <div class="form-group row">
            <label class="col-md-7 col-form-label">Order Number</label>
            <div class="col-md-5"><p class="form-control-static">5508</p></div>
        </div>
        

      </div>

      <div class="col-md-6">
      <div class="btnCon">
          <button class="btn btn-sm btn-primary btn-main" type="button" >Deliver</button>
         
      </div>
    </div>






    </div>
      
    </div>
















<div class="leftpadding">
            <div class="row">
                <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-6 col-form-label">Ordered Item</label>
                <div class="col-md-6"><p class="form-control-static">2</p></div>
            </div>

          </div>

          <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-6 col-form-label">Cooking</label>
                <div class="col-md-6"><p class="form-control-static">1</p></div>
            </div>

          </div>
          </div>
          <div class="row">
              <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-6 col-form-label">Bumped</label>
                <div class="col-md-6"><p class="form-control-static">0</p></div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-6 col-form-label">Delivered</label>
                <div class="col-md-6"><p class="form-control-static">0</p></div>
            </div>
          </div>

          </div>
        </div>


        </div>
          <div class="card">
            <div class="col-md-12 mt-1 p-0">
            <ag-grid-angular
            style="width: 100%; height: 200px;"
            class="ag-theme-alpine"
            [rowData]="rowData"
            [columnDefs]="columnDefs">
        </ag-grid-angular>
      </div>
          <!-- <span class="noDataMsg">No data Found</span> -->
        
       </div>
       <div class="col-md-12 btnexit">

          <div class="row">
              <div class="col-md-6 p-0">
          <div class="form-group row">
              <label class="col-md-6 col-form-label">Sub-Total</label>
              <div class="col-md-6"><p class="form-control-static">5.000</p></div>
          </div>
          <div class="form-group row">
              <label class="col-md-6 col-form-label">Vat</label>
              <div class="col-md-6"><p class="form-control-static">0.000</p></div>
          </div>
          <div class="form-group row">
              <label class="col-md-6 col-form-label">Net Amount</label>
              <div class="col-md-6"><p class="form-control-static">5.000</p></div>
          </div>

        </div>

        <div class="col-md-6 p-0">
        <div class="btnCon">
            <button class="btn btn-sm btn-primary btn-main btnheight" type="button" >Temporary Bill</button>
            <button class="btn btn-sm btn-primary btn-main btnheight" type="button">Add Item</button>
          <button class="btn btn-sm btn-primary btn-main btnheight" type="button" >Exit</button>
        </div>
      </div>
      </div>
        
      </div>
      




     

        </div>
        </div>
      </div>
     
      </div>


     
   


</div>
    <div class="clearfix"></div>


</div>
</main>
</div>






