.boxpos{padding: 0px 0px 0px 20px;width: 100%;}
.nomarginbtm{margin-bottom:0px !important}

.usercrdbox{border:1px solid #cdcdcd;
    padding: 5px;
    box-shadow: 2px 2px 6px #908d8d;
}

.userimage{position: absolute;
    right: 5px;}

    .boxwidth{
        width: 32%;
        position: relative;
            margin-left: 1%;
            padding-top: 7px;
    }

    .mainLogo {
        min-height: 0px !important;
    }
    .mainLogo{overflow-y: auto;
        height: 480px;}
    .card-footer {
        padding: .75rem 1.25rem;
     border-top: 1px solid; 
     background-color: #fff0;
     border-color: #ffffff00;
        position: absolute;
        bottom: -7px;
        right: 0px;
    }