

#container {
    visibility: hidden;
  }
  
  #loader {
  color: #008cff;
  height: 40px;
  width: 30%;
  position: absolute;
  top: 45%;
  left: 45%;
  }
  
  .dual-list-groupa,
  .dual-list-groupb {
      width: 48%;
  }
  
  .dual-list-groupa {
      float: left;
  }
  
  .dual-list-groupb {
      float: right;
  }
  .menuList {
    font-size: 19px;
    position: absolute;
    right: 34px;
    top: 4px;
    cursor: pointer;
}
.headtblbox {
    max-height: 50px;
    overflow: hidden;
}
.headtblbox h6{ line-height: 16px;
    margin-bottom: 0px !important;}
.tblname{ background-color: #abadaf8c;
    padding: 5px;
    color: #000;
    font-size: 15px;
    border: 1px solid #ccc8c8;
}
.sectionBox  img{width: 74%;
}
.carddiv{padding:10px}
.sectionBox {
    padding: 12px 12px;
    color: #000;
    border-radius: 2px;
    text-align: center;
    background: #d7dbdc;
    float: left;
    border: 1px solid #c7c8ca;
    margin: 4px;}
.menuList a {
    font-size: 13px;
    font-weight: bold;
    color: #11100F;
    margin-left: 5px;
}

.e-listbox-wrapper .e-list-item{
    display: inline-block;
    margin: 0;
    display: inline-block;
    margin: 3px;
    border: 1px solid #c0c2c3;
    width: 15%;
    text-align: center;
    background: #f1f0f0;
}
.e-listbox-wrapper.e-list-item{
    display: inline-block;
    padding: 20px;
    background-color: #000;
}