.runningbox{width: 30%;
    text-align: center;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    display: inline-block;
    margin-left: 3px;
}

.qtydiv{border: 1px solid #cdcdcd;
    font-size: 20px;
    width: 10%;
    padding: 0px 5px 2px 5px;}

.lblspan{padding: 0px 20px 0px 20px;}

.qtybtmdiv{position: absolute;
    bottom: 0px;}



.levelheader{border-bottom: 1px solid #cdcdcd;
    padding: 0px 0px 0px 3px;}
.levelbox{    width: 20%;
    text-align: center;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    display: inline-block;
    margin-left: 3px;
    padding: 12px 0px 8px 0px;
    margin-top: 3px;
}
.homeContainer {
    position: absolute;
    left: 0;
    width: 99% !important;
    top: 60px;
    height: auto;
    margin: 5px 7px !important;
    background: #fff;
}

.btn-main {
    background-color: #68a9b1 !important;
    border-color: #68a9b1 !important;
    color: #ffffff !important;
    margin-top: 5px;
    padding: .2rem .4rem !important;
}

.blbspace{border-top:1px solid #cdcdcd;padding: 3px 0px 0px 0px;background: #ececec;}
.secondlblspace{padding-left: 9px;}
.ordernocrdbox{overflow: hidden;
    width: 100%;
    height: 100%;}
.btnheight{height:50px !important;}
.righttopbox{border: 1px solid #cdcdcd;
   border-radius:3px;
}
.leftpadding{padding:5px 0px 0px 5px}
.backcolor{background: #ececec;padding: 2px 0px 0px 5px;}
.form-group {
    margin-bottom: 0px !important;
}

.borderright{border-right:1px solid #ececec;}