<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
  
  <ul class="c-sidebar-nav ps ps--active-y">
  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="/Dashboard" routerLinkActive="active">
    <span class="c-sidebar-nav-icon"> <i class="fa fa-tachometer " ></i></span>
   Dashboard</a></li>
  
  <li class="c-sidebar-nav-title">Human Resources</li>
  <li class="c-sidebar-nav-dropdown"><a class="c-sidebar-nav-dropdown-toggle" href="#">
  <span class="c-sidebar-nav-icon">
    <i class="fa fa-cog" ></i>
  </span> Masters</a>
  <ul class="c-sidebar-nav-dropdown-items">
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="/Country" routerLinkActive="router-link-active"> Country</a></li>
  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="/State" routerLinkActive="router-link-active"> State</a></li>
  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="/City" routerLinkActive="router-link-active"> City</a></li>
  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="/Location" routerLinkActive="router-link-active"> Location</a></li>
  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="/Company" routerLinkActive="router-link-active"> Company</a></li>
  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#"> Designation</a></li>
  </ul>
  </li>
  <li class="c-sidebar-nav-dropdown"><a class="c-sidebar-nav-dropdown-toggle" href="#">
    <span class="c-sidebar-nav-icon">
      <i class="fa fa-user" ></i>
    </span> User</a>
  <ul class="c-sidebar-nav-dropdown-items">
  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#"> Create User</a></li>
  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#"> All Users</a></li>
</ul>
  </li>
  
  <li class="c-sidebar-nav-dropdown"><a class="c-sidebar-nav-dropdown-toggle" href="#">
    <span class="c-sidebar-nav-icon">
      <i class="fa fa-file-text-o" ></i>
    </span> Leave Management</a>
  <ul class="c-sidebar-nav-dropdown-items">
  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#"> Leave Request</a></li>
  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#"> Leave Balance</a></li>
  </ul>
  </li>

 
  <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
  </div><div class="ps__rail-y" style="top: 0px; height: 551px; right: 0px;">
    <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 234px;">
    </div></div></ul>
    <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-unfoldable" (click)="toggleMinimize($event)"></button>
  
 </div>