<p>
  customer-loyalty works!
</p>
<div class="app-body">
  
  <main class="homeContainer">
<div class="animated fadeIn ">
 
  <div class="container-fluid p-0">
    <div class="card">
      <div class="card-header">
        <div class="row">
          
        <div class="col-md-6 heading">Customer Loyalty</div>
      </div>
        </div>
    
     
<div class="col-md-12 mt-3">
   

      <div class="col-md-12  firstbox">

        <form action="" class="form-horizontal ng-untouched ng-pristine ng-valid" enctype="multipart/form-data" method="post" novalidate="">
          <div class="col-md-12 p-0 mt-1">
            <div class="col-md-12 p-0 bottomlbl">
              <label class="lbltxt">Issue</label>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <div class="form-group ">
                  <div class="row">
                    <label class="col-md-3 col-form-label" for="text-input">Name:</label>
                    <div class="col-md-9"><input class="form-control" id="text-input" name="text-input"  type="text" /></div>
                </div>
              </div>
              </div>
            <div class="col-md-6">
          <div class="form-group ">
            <div class="row">
              <label class="col-md-3 col-form-label" for="text-input">Mobile:</label>
              <div class="col-md-9"><input class="form-control" id="text-input" name="text-input"  type="text" /></div>
          </div>
        </div>
        </div>
      </div>

        </div>
        <div class="col-md-12 p-0">
        
          <div class="row">

            <div class="col-md-6">
              <div class="form-group ">
                <div class="row">
                  <label class="col-md-3 col-form-label" for="text-input">Card No.:</label>
                  <div class="col-md-9"><input class="form-control" id="text-input" name="text-input"  type="text" /></div>
              </div>
            </div>
            </div>
          <div class="col-md-6">
        <div class="form-group ">
          <div class="row">
            <label class="col-md-3 col-form-label" for="text-input">Email:</label>
            <div class="col-md-9"><input class="form-control" id="text-input" name="text-input" type="text" /></div>
        </div>
      </div>
      </div>
    </div>

      </div>
      <div class="col-md-12 p-0">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group ">
              <div class="row">
                <label class="col-md-3 col-form-label" for="text-input">Address:</label>
                <div class="col-md-9"><textarea class="form-control" id="text-input" name="text-input"  type="text" ></textarea></div>
            </div>
          </div>
          </div>
        <div class="col-md-6 pr-0">

          <div class="col-md-12 btnexit">
        <div class="btnCon">
          <button class="btn btn-sm btn-primary " type="button"  data-toggle="modal" data-target="#addon" ><i class="fa fa-credit-card-alt mr-1" title="Add"></i> Issue</button>
     
       
      </div>
      </div>
    </div>
  </div>

    </div>
         
        
      </form>
      </div>


      <div class="col-md-12  mt-3 firstbox">

        <form action="" class="form-horizontal ng-untouched ng-pristine ng-valid" enctype="multipart/form-data" method="post" novalidate="">
          
        <div class="col-md-12 p-0 mt-3">
          <div class="col-md-12 p-0 bottomlbl">
            <label class="lbltxt">Reissue</label>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <div class="form-group ">
                <div class="row">
                  <label class="col-md-3 col-form-label" for="text-input">Card No.:</label>
                  <div class="col-md-9"><input class="form-control" id="text-input" name="text-input"  type="text" /></div>
              </div>
            </div>
            </div>
          <div class="col-md-6">
        <div class="form-group ">
          <div class="row">
            <label class="col-md-3 col-form-label" for="text-input">Mobile No.:</label>
            <div class="col-md-9"><input class="form-control" id="text-input" name="text-input" type="text" /></div>
        </div>
      </div>
      </div>
    </div>

      </div>
      <div class="col-md-12 mb-2 p-0">
        <div class="row">
       
        <div class="col-md-12 pr-0">

          <div class="col-md-12 btnexit">
        <div class="btnCon">
          <button class="btn btn-sm btn-primary" type="button"  data-toggle="modal" data-target="#addon" ><i class="fa fa-sign-out pr-1" title="Add"></i> Exit</button>
     
       
      </div>
      </div>
    </div>
  </div>

    </div>
         
        
      </form>
      </div>
      </div>
    


</div>


    <div class="clearfix"></div>
</div>  

</div>
</main>
</div>
