.masterTabs {
    background: #f5f6f9;
    color: #fff;
    border-radius: 2px;
    margin-bottom: 8px !important;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
}

#navContent{position: absolute;
    z-index: 9999;
    right: 0;}

    #dvMenuBinding span{color:#121111;display: inline-block;}
    .downiconposi{width:100%;
    }
    .menuHeading{padding-top: 20%;}