<div class="col-md-3 p-0" id="navContent">
  <div class="card" style="min-height: 542px;">

      <div class="card-body mt-2">
          <form method="get" class="form-horizontal">
              <div class="container p-1" id="dvMenuBinding">
                  

              <div class="row mb-2">
                <div class="menuListing">
                <div id="setupMenu">

                    <div class="row">
                   <div class="col-md-6 col-sm-6 col-6">
                      <div class="masterTabs " id="dvdefineRestro">
                       
                          <img src="assets/images/deliveryblack.png" />
                          <span>Define Restaurant</span> 
                       
                       </div>
                       </div>
                        <div class="col-md-6 col-sm-6 col-6"> 
                          <div class="masterTabs" id="dvSectionTable">
                          
                              <img src="assets/images/deliveryblack.png" />
                               <span>Section Table</span> 
                            
                            </div>
                           </div>
                          </div>

                          <div class="row">
                            <div class="col-md-6 col-sm-6 col-6"> 
                              <div class="masterTabs">
                                  <img src="assets/images/deliveryblack.png" />
                                    <span>Menu Creation</span>
                                  
                                   </div>
                                   </div>
                                    <div class="col-md-6 col-sm-6 col-6">
                                       <div class="masterTabs" id="dvdefineempdetails">
                                       
                                          <img src="assets/images/deliveryblack.png" />
                                              <span>Employee Details</span> 
                                           
                                           </div>
                                           </div>
                                          </div>

                                          <div class="row">
                                            <div class="col-md-6 col-sm-6 col-6">
                                               <div class="masterTabs"> 
                                                
                                                  <img src="assets/images/deliveryblack.png" />
                                                   <span>Kitchen Section</span>
                                                   
                                                   </div>
                                                   </div> 
                                                   <div class="col-md-6 col-sm-6 col-6">
                                                      <div class="masterTabs">
                                                       
                                                          <img src="assets/images/deliveryblack.png" />
                                                            <span style="width:100%;">Add-ons</span> 
                                                         
                                                        </div>
                                                       </div> 
                                                      </div>
                                                    </div>




                              <div id="salesBillingMenu" style="display:none"> 
                                                        <div class="col-md-6 col-sm-6 col-6 p-0">
                                                           <div class="masterTabs ">
                                                              <a href="/SalesBilling/NewOrder"> 
                                                                <img src="../../Content/images/order-icon.png"> 
                                                                <span>New Order</span>
                                                               </a>
                                                               </div>
                                                               </div>
                                                                <div class="col-md-6 col-sm-6 col-6 p-0">
                                                                   <div class="masterTabs">
                                                                      <a href="/SalesBilling/KitchenScreen">
                                                                         <img src="../../Content/images/kitchen-screen-icon.png">
                                                                          <span>Kitchen Screen</span>
                                                                         </a> 
                                                                        </div> 
                                                                      </div>
                                                                       <div class="col-md-6 col-sm-6 col-6 p-0"> 
                                                                         <div class="masterTabs">
                                                                            <a href="/CustomerLoyalty/CustomerLoyalty"> 
                                                                              <img src="../../Content/images/handshake-icon.png"> 
                                                                              <span>Customer Loyalty</span>
                                                                             </a>
                                                                             </div> 
                                                                            </div> 
                                                                            <div class="col-md-6 col-sm-6 col-6 p-0"> 
                                                                              <div class="masterTabs">
                                                                                 <a href="/SalesBilling/RunningOrder">
                                                                                   <img src="../../Content/images/running-order-icon.png">
                                                                                    <span>Running Orders</span>
                                                                                   </a>
                                                                                   </div> 
                                                                                  </div> 
                                                                                  <div class="col-md-6 col-sm-6 col-6 p-0">
                                                                                     <div class="masterTabs"> 
                                                                                       <a href="/CustomerLoyalty/CardActivation">
                                                                                         <img src="../../Content/images/card-activation-icon.png"> 
                                                                                         <span>Card Activation</span>
                                                                                         </a>
                                                                                         </div> 
                                                                                        </div>
                                                                                         <div class="col-md-6 col-sm-6 col-6 p-0">
                                                                                            <div class="masterTabs">
                                                                                               <a href="/SalesBilling/CustomerCoupon">
                                                                                                 <img src="../../Content/images/dayend-icon.png">
                                                                                                  <span>Customer Coupon</span> 
                                                                                                </a>
                                                                                               </div> 
                                                                                              </div>
                                                                                             </div> 
                                                                                             <div id="salesReport" style="display:none"> 
                                                                                              <div class="col-md-6 col-sm-6 col-6 p-0"> 
                                                                                                <div class="masterTabs " id="spdailysalesreport">
                                                                                                   <a href="/Reports/DailySalesReport"> 
                                                                                                    <img src="../../Content/images/reports-icon.png">
                                                                                                     <span>DailySalesReport</span> 
                                                                                                    </a> 
                                                                                                  
                                                                                                  </div> 
                                                                                                </div> 
                                                                                                <div class="col-md-6 col-sm-6 col-6 p-0">
                                                                                                   <div class="masterTabs"> 
                                                                                                     <a href="/Reports/DailyRevenueReport"> 
                                                                                                      <img src="../../Content/images/reports-icon.png">
                                                                                                       <span id="spdailyrevenuereport">DailyRevenueReport</span>
                                                                                                       </a> 
                                                                                                      </div> 
                                                                                                    </div>
                                                                                                     <div class="col-md-6 col-sm-6 col-6 p-0">
                                                                                                        <div class="masterTabs">
                                                                                                           <a href="/Reports/UserWiseItemReport"> 
                                                                                                            <img src="../../Content/images/reports-icon.png">
                                                                                                             <span id="spitemwisereport">User Wise Item Report</span>
                                                                                                             </a>
                                                                                                             </div> 
                                                                                                            </div>
                                                                                                             <div class="col-md-6 col-sm-6 col-6 p-0"> 
                                                                                                               <div class="masterTabs">
                                                                                                                  <a href="/Reports/DiscountReport">
                                                                                                                     <img src="../../Content/images/reports-icon.png">
                                                                                                                      <span id="spdiscountreport">Discount Report</span>
                                                                                                                     </a>
                                                                                                                     </div>
                                                                                                                     </div> 
                                                                                                                     <div class="col-md-6 col-sm-6 col-6 p-0">
                                                                                                                        <div class="masterTabs">
                                                                                                                           <a href="/Reports/PaymentReport">
                                                                                                                             <img src="../../Content/images/reports-icon.png">
                                                                                                                              <span id="sppaymentreport">Payment Report</span>
                                                                                                                             </a>
                                                                                                                             </div> 
                                                                                                                            </div> 
                                                                                                                            <div class="col-md-6 col-sm-6 col-6 p-0">
                                                                                                                               <div class="masterTabs">
                                                                                                                                  <a href="/Reports/more"> 
                                                                                                                                    <img src="../../Content/images/reports-icon.png">
                                                                                                                                     <span id="spmorereport">More</span>
                                                                                                                                     </a> 
                                                                                                                                    </div> 
                                                                                                                                  </div> 
                                                                                                                                </div>
                                                                                                                               </div> 
                                                                                                                               <div class="menuHeading">
                                                                                                                                  <div class="col-md-6 col-sm-6 col-6 p-0 pull-left">
                                                                                                                                     <div class="masterTabs masterTabs1"> 
                                                                                                                                      
                                                                                                                                          <img src="assets/images/user.png" class="imgcard pr-1">
                                                                                                                                        <span class="downiconposi">
                                                                                                                                         Setup</span>
                                                                                                                                        
                                                                                                                                         </div> 
                                                                                                                                        </div>
                                                                                                                                         <div class="col-md-6 col-sm-6 col-6 p-0 pull-left">
                                                                                                                                            <div class="masterTabs masterTabs1">
                                                                                                                                              
                                                                                                                                                  <img src="assets/images/user.png" class="imgcard pr-1">
                                                                                                                                                 <span class="downiconposi">
                                                                                                                                                   Sales And Billing</span>
                                                                                                                                                  
                                                                                                                                                   </div>
                                                                                                                                                   </div>
                                                                                                                                                    <div class="col-md-6 col-sm-6 col-6 p-0 pull-left"> 
                                                                                                                                                      <div class="masterTabs mb-0 masterTabs1"> 
                                                                                                                                                       
                                                                                                                                                            <img src="assets/images/user.png" class="imgcard pr-1">
                                                                                                                                                           <span class="downiconposi">
                                                                                                                                                            Reports</span> 
                                                                                                                                                          
                                                                                                                                                           </div> 
                                                                                                                                                          </div>
                                                                                                                                                           <div class="col-md-6 col-sm-6 col-6 p-0 pull-left"> 
                                                                                                                                                             <div class="masterTabs mb-0 masterTabs1">
                                                                                                                                                              
                                                                                                                                                                  <img src="assets/images/user.png" class="imgcard pr-1">
                                                                                                                                                                   <span class="downiconposi">
                                                                                                                                                                     Home</span>
                                                                                                                                                                    
                                                                                                                                                                     </div>
                                                                                                                                                                     </div>
                                                                                                                                                                     </div>
                                                                                                                                                                     </div>
                                                                                                                                                                    </div>
          </form>

      </div>
  </div>

</div>