<div class="col-md-3 p-0" id="navContent">
  <div class="card" style="min-height: 542px;">

      <div class="card-body mt-2">
          <form method="get" class="form-horizontal">
              <div class="container p-1" id="dvMenuBinding">
                  

              <div class="row mb-2">
                <div class="menuListing">
                <div id="setupMenu">

                    <div class="row">
                   <div class="col-md-6 col-sm-6 col-6">
                      <div class="masterTabs " id="dvdefineRestro">
                       
                          <img src="assets/images/definerest.png" />
                          <span>Define Restaurant</span> 
                       
                       </div>
                       </div>
                        <div class="col-md-6 col-sm-6 col-6"> 
                          <div class="masterTabs" id="dvSectionTable">
                          
                              <img src="assets/images/definerest.png" />
                               <span>Section Table</span> 
                            
                            </div>
                           </div>
                          </div>

                          <div class="row">
                            <div class="col-md-6 col-sm-6 col-6"> 
                              <div class="masterTabs">
                                  <img src="assets/images/definerest.png" />
                                    <span>Menu Creation</span>
                                  
                                   </div>
                                   </div>
                                    <div class="col-md-6 col-sm-6 col-6">
                                       <div class="masterTabs" id="dvdefineempdetails">
                                       
                                          <img src="assets/images/definerest.png" />
                                              <span>Employee Details</span> 
                                           
                                           </div>
                                           </div>
                                          </div>

                                          <div class="row">
                                            <div class="col-md-6 col-sm-6 col-6">
                                               <div class="masterTabs"> 
                                                
                                                  <img src="assets/images/definerest.png" />
                                                   <span>Kitchen Section</span>
                                                   
                                                   </div>
                                                   </div> 
                                                   <div class="col-md-6 col-sm-6 col-6">
                                                      <div class="masterTabs">
                                                       
                                                          <img src="assets/images/definerest.png" />
                                                            <span style="width:100%;">Add-ons</span> 
                                                         
                                                        </div>
                                                       </div> 
                                                      </div>










                                                      <div class="row">
                                                          <div class="col-md-6 col-sm-6 col-6">
                                                             <div class="masterTabs"> 
                                                              
                                                                <img src="assets/images/definerest.png" />
                                                                 <span>New Order</span>
                                                                 
                                                                 </div>
                                                                 </div> 
                                                                 <div class="col-md-6 col-sm-6 col-6">
                                                                    <div class="masterTabs">
                                                                     
                                                                        <img src="assets/images/definerest.png" />
                                                                          <span style="width:100%;">Kitchen Screen</span> 
                                                                       
                                                                      </div>
                                                                     </div> 
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6 col-6">
                                                                           <div class="masterTabs"> 
                                                                            
                                                                              <img src="assets/images/definerest.png" />
                                                                               <span>Customer Loyalty</span>
                                                                               
                                                                               </div>
                                                                               </div> 
                                                                               <div class="col-md-6 col-sm-6 col-6">
                                                                                  <div class="masterTabs">
                                                                                   
                                                                                      <img src="assets/images/definerest.png" />
                                                                                        <span style="width:100%;">Running Orders</span> 
                                                                                     
                                                                                    </div>
                                                                                   </div> 
                                                                                  </div>  
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6 col-6">
                                                                           <div class="masterTabs"> 
                                                                            
                                                                              <img src="assets/images/definerest.png" />
                                                                               <span>Card Activation</span>
                                                                               
                                                                               </div>
                                                                               </div> 
                                                                               <div class="col-md-6 col-sm-6 col-6">
                                                                                  <div class="masterTabs">
                                                                                   
                                                                                      <img src="assets/images/definerest.png" />
                                                                                        <span style="width:100%;">Customer Coupon</span> 
                                                                                     
                                                                                    </div>
                                                                                   </div> 
                                                                                  </div>
                                                                                                                              
                                                    </div>

                                                </div> 
                                              </div>
                                             </div>
          </form>

      </div>
  </div>

</div>