.masterTabs {
    color: #fff;
    border-radius: 2px;
    margin-bottom: 8px !important;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid #cdcdcd;
    padding: 2px;
    cursor: pointer;
}
.active{background: #c6cac6;}
.highlightspan{color:#ffffff}

#navContent{position: absolute;
    right: 0;
    top: 10%;
}

    #dvMenuBinding span{color:#121111;display: inline-block;width: 100%;}
    .downiconposi{width:100%;
    }
    .menuHeading{padding-top: 20%;}