<div class="col-md-3 p-0" id="navContent">
  <div class="card" style="min-height: 542px;">

      <div class="card-body mt-2">
          <form method="get" class="form-horizontal">
              <div class="container p-1" id="dvMenuBinding">
                  

              <div class="row mb-2">
                <div class="menuListing">
                <div class="setupMenu">

                    <div class="row m-0">
                   <div class="menuList">
                      <div class="masterTabs">
                        <a routerLink="/DefineRestaurant" routerLinkActive="active">
                          <img src="assets/images/defineRestaurant.png" />
                          <span>Define Restaurant</span> 
                       </a>
                       </div>
                       </div>
                        <div class="menuList"> 
                          <div class="masterTabs">
                            <a routerLink="/SectionTable" routerLinkActive="active">
                        
                              <img src="assets/images/sectionTable.png" />
                               <span>Section Table</span> 
                            </a>
                            </div>
                           </div>
                          </div>

                          <div class="row m-0">
                            <div class="menuList"> 
                              <div class="masterTabs">
                                <a routerLink="/MenuCreation" routerLinkActive="active">
                                  <img src="assets/images/menuCreation.png" />
                                    <span>Menu Creation</span>
                                  </a>
                                   </div>
                                   </div>
                                    <div class="menuList">
                                       <div class="masterTabs" id="dvdefineempdetails">
                                        <a routerLink="/EmployeeDetails" routerLinkActive="active">
                                          <img src="assets/images/empDetails.png" />
                                              <span>Employee Details</span> 
                                           </a>
                                           </div>
                                           </div>
                                          </div>

                                          <div class="row m-0">
                                            <div class="menuList">
                                               <div class="masterTabs"> 
                                                <a routerLink="/KitchenSection" routerLinkActive="active">
                                                  <img src="assets/images/kitchenSection.png" />
                                                   <span>Kitchen Section</span>
                                                   </a>
                                                   </div>
                                                   </div> 
                                                   <div class="menuList">
                                                      <div class="masterTabs">
                                                        <a routerLink="/Addon" routerLinkActive="active">
                                                          <img src="assets/images/addOns.png" />
                                                            <span style="width:100%;">Add-ons</span> 
                                                         </a>
                                                        </div>
                                                       </div> 
                                                      </div>










                                                      <div class="row m-0">
                                                          <div class="menuList">
                                                             <div class="masterTabs"> 
                                                              
                                                                <img src="assets/images/newOrder.png" />
                                                                 <span>New Order</span>
                                                                 
                                                                 </div>
                                                                 </div> 
                                                                 <div class="menuList">
                                                                    <div class="masterTabs">
                                                                     
                                                                        <img src="assets/images/kitchenScreen.png" />
                                                                          <span style="width:100%;">Kitchen Screen</span> 
                                                                       
                                                                      </div>
                                                                     </div> 
                                                                    </div>
                                                                    <div class="row m-0">
                                                                        <div class="menuList">
                                                                           <div class="masterTabs"> 
                                                                            
                                                                              <img src="assets/images/customerLoyalty.png" />
                                                                               <span>Customer Loyalty</span>
                                                                               
                                                                               </div>
                                                                               </div> 
                                                                               <div class="menuList">
                                                                                  <div class="masterTabs">
                                                                                   
                                                                                      <img src="assets/images/runningOrder.png" />
                                                                                        <span style="width:100%;">Running Orders</span> 
                                                                                     
                                                                                    </div>
                                                                                   </div> 
                                                                                  </div>  
                                                                    <div class="row m-0">
                                                                        <div class="menuList">
                                                                           <div class="masterTabs"> 
                                                                            
                                                                              <img src="assets/images/cardActivation.png" />
                                                                               <span>Card Activation</span>
                                                                               
                                                                               </div>
                                                                               </div> 
                                                                               <div class="menuList">
                                                                                  <div class="masterTabs">
                                                                                   
                                                                                      <img src="assets/images/customerCoupon.png" />
                                                                                        <span style="width:100%;">Customer Coupon</span> 
                                                                                     
                                                                                    </div>
                                                                                   </div> 
                                                                                  </div>
                                                                                                                              
                                                    </div>

                                                </div> 
                                              </div>
                                             </div>
          </form>

      </div>
  </div>

</div>