<div class="app-body">
  
  <main class="homeContainer">
<div class="animated fadeIn ">
 
  <div class="container-fluid p-0">
    <div class="card">
      <div class="card-header">
        <div class="row">
          
        <div class="col-md-6 heading"> Order Selection</div>
       
        </div>
      </div>
    
      <div class="row boxpos" >
        <div class="col-md-6 col-sm-6 col-6">
           <div class="masterTabs dvdefineRestro">
            
               <img src="assets/images/dine-in-icon.png" />
               <p>DINE-IN</p> 
            
            </div>
            </div>
             <div class="col-md-6 col-sm-6 col-6"> 
               <div class="masterTabs dvdefineRestro">
               
                   <img src="assets/images/takeawaynew.png" />
                    <p>TAKE AWAY</p> 
                 
                 </div>
                </div>
              
               </div>
               <div class="row" style="display:none">
               <div class="col-md-12">
                <div class="selectTable" id="divsittingsection">
                
        
                  <div class="sectionBox active headtblbox" >
                    <h6>Family Section</h6>
                  </div>
                    <div class="sectionBox headtblbox" >
                      <h6>Terrace</h6>  
                    </div>
                    </div>
              </div>


              <div class="col-md-12">
                <div class="selectTable">
                
        
                  <div class="sectionBox active headtblbox" >
                    <h6>T11</h6>
                  </div>
                    <div class="sectionBox headtblbox" >
                      <h6>T12</h6>  
                    </div>
                    <div class="sectionBox headtblbox" >
                      <h6>T32</h6>  
                    </div>
                    <div class="sectionBox headtblbox" >
                      <h6>T22</h6>  
                    </div>
                    <div class="sectionBox headtblbox" >
                      <h6>T24</h6>  
                    </div>
                    <div class="sectionBox headtblbox" >
                      <h6>T99</h6>  
                    </div>
                    <div class="sectionBox headtblbox" >
                      <h6>T48</h6>  
                    </div>
                    <div class="sectionBox headtblbox" >
                      <h6>T24</h6>  
                    </div>
                    <div class="sectionBox headtblbox" >
                      <h6>T23</h6>  
                    </div>
                    <div class="sectionBox headtblbox" >
                      <h6>T1</h6>  
                    </div>



                    </div>
              </div>
            </div>

</div>
    <div class="clearfix"></div>
</div>  

</div>
</main>
</div>

