<div class="app-body">
  
  <main class="homeContainer">
<div class="animated fadeIn ">
 
  <div class="container-fluid p-0">
    <div class="card">
      <div class="card-header">
        <div class="row">
          
        <div class="col-md-6 heading"> Define Restaurant</div>
       
        </div>
      </div>
    
      <div class="row boxpos">
        <div class="col-md-6 col-sm-6 col-6">
           <div class="masterTabs dvdefineRestro">
            
               <img src="assets/images/create.png" />
               <p>Create</p> 
            
            </div>
            </div>
             <div class="col-md-6 col-sm-6 col-6"> 
               <div class="masterTabs dvdefineRestro active">
               
                   <img src="assets/images/edit.png" />
                    <p>Update</p> 
                 
                 </div>
                </div>
               </div>
        
        
        
    


</div>
    <div class="clearfix"></div>
</div>  

</div>
</main>
</div>
